{{!-- Setup the index.handlebars to have the template that Handlebars can render onto. --}}
<div class="container">

    <div class="jumbotron text-center p-2 mt-2 mb-1">
        <h1 id="main-head">   <i class="fas fa-star"></i>  Rafa's Burger  <i class="fas fa-star"></i> </h1>
        <p id="second-head">Best Venezuelan Burgers in USA.</p>
    </div><!-- /jumbotron -->

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="/assets/images/burger2.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/assets/images/burger4.png" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/assets/images/burger5.jpg" alt="Third slide">
            </div>
        </div>
    </div>
 

    <div class="row my-4">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h2>Add a Burger</h2>
                </div>
                <!--Create/add burger form-->
                <div class="card-body">
                    <form class="create-form">
                        <div class="form-group">
                            <label for="newburger">Burger Name:</label>
                            <input type="text" id="newburger" name="burger">
                            {{!-- Create a button in index.handlebars that will submit the user input into the database. --}}
                            <button class="btn btn-sm btn-danger"id="addburger" type="submit">Add Burger</button>
                        </div> 
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Undevoured Burgers -->
        <div class="col-sm-6 bd">
            <div class="card">
                <div class="card-header">
                    <h3> Burgers </h3>
                </div>
                <div class="card-body" id="card-list">
                    <ul>
                        {{#each burgers}}
                            {{#unless devoured}}
                                <span> {{this.id}} - {{this.burger_name}} </span>
                                <button type="button" class="eatburger btn btn-warning" id ="eatbutton" data-id="{{this.id}}" data-newDevoured="{{devour}}">Devour Me!!!</button>
                                <hr>
                            {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <!-- Devoured Burgers -->
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h3>Devoured Burgers</h3>
                </div>
                <div class="card-body" id="card-list">
                    <ul>
                        {{#each burgers}}
                            {{#if devoured}}
                                <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                                <button type="button" class="trashburger btn btn-danger" id ="trashbutton" data-id="{{this.id}}" data-newDevoured="{{devour}}"><span class="fa fa-trash"></span></button>
                                <hr>
                            {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- /row -->

</div><!-- /container -->